<div class="about-me">
    <div class="about-me-content center-container">
        <div class="cards">
            <div class="card">
                <h2>01</h2>
                <h2>Attention to Detail</h2>
                <p>Meticulous code analysis and optimization.</p>
            </div>
            <div class="card">
                <h2>02</h2>
                <h2>Adaptability</h2>
                <p>Swift learning of new technologies.</p>
            </div>
            <div class="card">
                <h2>03</h2>
                <h2>Problem Solver</h2>
                <p>Identifying and resolving issues.</p>
            </div>
            <div class="card">
                <h2>04</h2>
                <h2>Team Player</h2>
                <p>Collaborates and shares ideas.</p>
            </div>
        </div>
        <div class="text">
            <h2>About Me</h2>
            <p>With over 5 years of experience, I'm proficient in HTML, CSS, JavaScript, jQuery, and React. I
                have a strong understanding of user experience design and accessibility. I'm always learning new
                technologies and techniques to stay up-to-date in the field.</p>
        </div>
    </div>
</div>