<div class="bio">
    <div class="bio-content center-container">
        <img src="../assets/images/people.png" alt="A photograph of a man">
        <div class="text">
            <h2>Hi</h2>
            <h2>I’m a front-end developer</h2>
            <h3>William</h3>
            <a href="#">
                <span>contact me</span>
                <img src="../assets/images/arrow_outward.png" alt="An image of an arrow">
            </a>
        </div>
    </div>
</div>