<div class="contact-me">
    <div class="contact-me-content center-container">
        <div class="text">
            <h2>CONTACT ME</h2>
            <img src="../assets/images/trending_flat_black_24dp 1.png" alt="">
        </div>
        <div class="brand-logos">
            <img src="../assets/images/discord.png" alt="">
            <img src="../assets/images/instagram.png" alt="">
            <img src="../assets/images/message.png" alt="">
        </div>
    </div>
</div>
