<div class="my-projects">
    <div class="my-projects-content center-container">
        <h2>My Projects</h2>
        <div class="knolling">
            <div class="left">
                <img src="../assets/images/Rectangle 10.png" alt="">
            </div>
            <div class="right">
                <div class="top">
                    <img src="../assets/images/Rectangle 15.png" alt="">
                    <div class="text">
                        <p>I've worked on a variety of websites, including e-commerce sites, blogs, and landing
                            pages. I take pride in creating clean, efficient, and user-friendly code.</p>
                        <a href="#">
                            <span>SEE MORE</span>
                            <img src="../assets/images/arrow_outward-white.png" alt="">
                        </a>
                    </div>
                </div>
                <div class="bottom">
                    <img src="../assets/images/Rectangle 14.png" alt="">
                    <img src="../assets/images/Rectangle 29.png" alt="">
                </div>
            </div>
        </div>
    </div>
</div>