<div class="navbar-content center-container">
    <a href="#">WILLIAM LEE</a>
    <a href="#">BASED IN TAIWAN</a>
    <a href="#">CURRENTLY FRONT END ENGINEER AT HEXSCHOOL</a>
    <a href="#">CONTACT ME</a>
</div>