.contact-me {
	background: linear-gradient(#050014, #01021EE3);
}
.contact-me-content {
	height: 354px;
	display: flex;
	align-items: center;
	gap: 113px;
}
.contact-me-content .text {
	display: flex;
	gap: 16px;
}
.contact-me-content .text h2 {
	height: 96px;
	color: #FFF;
	font-size: 64px;
	font-style: normal;
	font-weight: 400;
	line-height: 150%; /* 96px */
}
.contact-me-content .text img {
	height: 100px;
}
.contact-me-content .brand-logos {
	display: flex;
	gap: 20px;
}
.contact-me-content .brand-logos img {
	height: 162px;
}