.intro {
	background: url(../../assets/images/background-img.png), lightgray 50% / cover no-repeat;
	background-size: cover;
}
.intro-content {
	padding: 160px 0;
	display: flex;
	gap: 24px;
}
.intro-content .text {
	width: 526px;
}
.intro-content .text h2 {
	margin-bottom: 36px;
	color: #FFF;
	font-size: 64px;
	font-style: normal;
	font-weight: 400;
	line-height: 150%; /* 96px */
}
.intro-content .text p {
	margin-bottom: 32px;
	color: #FFF;
	font-size: 24px;
	font-style: normal;
	font-weight: 400;
	line-height: 150%; /* 36px */
}
.intro-content .text .triple-sparkle {
	width: 128px;
	height: 98px;
	display: flex;
	gap: 15px;
}
.intro-content .images {
	height: 600px;
	display: flex;
	gap: 24px;
}