.navbar {
	background: #000;
	background-size: cover;
}
.navbar-content {
	display: flex;
	justify-content: space-between;
	height: 88px;
}
.navbar-content a {
	margin-top: 40px;
	width: 30%; /*Wonder!!*/
	height: 48px;
	text-decoration: none;
	color: #D1D1D1;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 150%; /* 24px */
}
.navbar-content a:hover {
	text-decoration: underline;
}
.navbar-content a:last-child {
	text-align: end;
}