<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>index</title>
</head>
<body>
    <div class="wrap">
        <%- include('./layout/navbar'); -%>
        <%- include('./layout/bio'); -%>
        <%- include('./layout/intro'); -%>
        <%- include('./layout/about-me'); -%>
        <%- include('./layout/contact-me'); -%>
        <%- include('./layout/my-projects'); -%>
        <%- include('./layout/footer'); -%>
    </div>
    <script type="module" src="../main.js"></script>
</body>
</html>